<header></header>
<h1 class="top-title">Books</h1>
<table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Body</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
<!----------Book情報--------------->
		<% @books.each do |book| %>
			<tr>
				<td><%= book.title %></td>
				<td><%= book.body %></td>
				<td>
					<a><%= link_to "Show", "/books/#{book.id}" %><a>
				</td>
				<td>
					<a><%= link_to "Edit", "/books/#{book.id}/edit" %><a>
				</td>
				<td>
					<a><%= link_to "Destroy", "/books/#{book.id}", method: :delete %><a>
				</td>
			</tr>
		<% end %>
<!-------------ここまで------------>
	</tbody>
</table>
<h2>NEW book</h2>
<%= form_for(@book) do |f| %>
<!-- ---------erarro----------------- -->
	<% if @book.errors.any? %>
		<div id="error_explanation">
		 	<h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

		 	<ul>
		 		<% @book.errors.full_messages.each do |message| %>
		 			<li><%= message %></li>
		 		<% end %>
		 	</ul>
		</div>
	 	<div class="title_error">
			<p class="error">Title</p>
			<%= f.text_field :title, class: "error_box" %>
		</div>
		<div class="body_error">
			<p class="error">Body</p>
			<%= f.text_area :body, class: "error_box" %>
		</div>
		<%= f.submit 'Create Book' %>
 <!-- -------------------------------- -- -->
	<% else %>
	<div class=title>
		<p>Title</p>
		<%= f.text_field :title %>
	</div>
	<div class="body">
		<p>Body</p>
		<%= f.text_area :body %>
	</div>
	<%= f.submit 'Create Book' %>
	<% end %>
<% end %>