<header></header>
<h1 class="top-title">Books</h1>
<table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Body</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
<!----------Book情報--------------->
		<% @books.each do |book| %>
			<tr>
				<td><%= book.title %></td>
				<td><%= book.body %></td>
				<td>
					<%= link_to "Show", "/books/#{book.id}" %>
				</td>
				<td>
					<%= link_to "Edit", "/books/#{book.id}/edit" %>
				</td>
				<td>
					<%= link_to "Destroy", "/books/#{book.id}", method: :delete %>
				</td>
			</tr>
		<% end %>
<!-------------ここまで------------>
	</tbody>
</table>
<h2>NEW book</h2>
<%= form_for(@book) do |f| %>
	<div class=title>
		<p>Title</p>
		<%= f.text_field :title %>
	</div>
	<div class="body">
		<p>Body</p>
		<%= f.text_area :body %>
	</div>
	<%= f.submit 'Create Book' %>
<% end %>